.post{
  border: 1px solid;
  width: 50%;
  margin-top: 30px;
}

.post-date{
  color: black
}

/* div.post div.content_post {
  margin: 20px 0;
  padding: 30px;
  position: relative;
  height: 400px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
} */